:root {
  /* font families */
  --font-main: 'Roboto', sans-serif;
  --font-handwriting: 'Permanent Marker', cursive;
  --font-typewriter:  'Special Elite', cursive;

  /* colors */
  --color-light: #fafafa;
  --color-dark: #222;
  --color-primary: #ff00ff;
  --color-font-main: var(--color-light);
  --color-youtube: #ff0000;
  --color-dailymotion: #0d0d0d;
  --color-vimeo: #1ab7ea;

  /* gaps */
  --gap-extra-small: 0.25rem;
  --gap-small: 0.5rem;
  --gap-medium: 1rem;
  --gap-large: 1.5rem;
  --gap-extra-large: 2rem;

  /* widths */
  --width-container: 40rem;

}