body {
  --bg-radial: radial-gradient(
    at center center,
    rgb(78, 78, 78) 50%,
    rgb(38, 38, 38) 100%
  );
  font-family: var(--font-main);
  color: var(--color-font-main);
  background: url("../images/background.png"), var(--bg-radial);
}

a {
  font-family: var(--font-handwriting);
  color: inherit;
}
